
h2 {
  text-align: center;
}

.wrapAddTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  .inputText {
    display: flex;
  }
  .buttonAdd {
    width: 65px;
  }
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  .item {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .checkBlock {
      width: 100%;
      max-width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      .checkBoxInput {
        margin-right: 5px;
      }
      .todoBlock {
        width: 100%;
        max-width: 470px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .textTodo {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .nameTodo {
          margin-right: 5px;
        }
      }
    }
  }
  .buttonsBlock {
    width: 100%;
    max-width: 175px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checked {
  text-decoration: line-through;
}
label {
  display: contents;
}




